.footer {
    background-size: cover;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 20px;
    text-align: center;
    margin-top: 70px;
}

.footer .social-icons a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    font-size: 18px;
    transition: 0.3s;
}

.social-icons p{
    color: white;
}

.footer a:hover {
    color: #fbbb77;
}

.footer .social-icons {
    margin-top: 10px;
}

.footer .social-icons a {
    font-size: 24px;
    margin: 0 10px;
}

.footer .social-icons a:hover {
    color: #fbbb77;
}