.gch{
  background-image: linear-gradient(rgba(245, 183, 135, 0.7),rgba(120, 142, 243, 0.9));
  height: 100vh;
}
.chatroom-container1 {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  padding: 20px;
}

.chat-box1 {
  width: 60%;
  border: 2px solid #8cf851de;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 140px;
  background: #cdd4f2e0;
}

.chat-messages1 {
  height: 350px;
  overflow-y: auto;
  padding: 10px;
  margin-bottom: 10px;
  background: #ceffab95;
  border-radius: 5px;
}

.chat-message1{
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 5px;
  background: #e1f5fe;
}

.user-info {
  font-weight: bold;
}

.sender-name {
  font-weight: bold;
}

.thread-info {
  font-size: 12px;
  color: #555;
}

.chat-input1 {
  display: flex;
  gap: 10px;
}

.chat-input1 input {
  flex: 1;
  padding: 8px;
}

.chat-input1 button {
  padding: 8px 12px;
  cursor: pointer;
}